.shipping-calculations-list {
    margin-bottom: 10px;
}

.shipping-calculations-list_li {
    margin-bottom: 5px;
}

.shipping-calculations-list-method {
    margin: 1px 10px 3px 0;

    font-weight: 300;
    font-size: 13px;
}

.shipping-calculations-list-calculation {
    font-style: italic;
    font-size: 12px;
}

.shipping-calculations-title_span{
    position: relative;
    padding: 11px;
}

.shipping-calculations-title_span::before {
    content: "";
    width: 10px;
    height: 10px;

    top: 13px;
    left: 0;
    position: absolute;

    background: url('../../../../../images/oggetto/geodetection/list-arrow.png');
    background-size: cover;
}

.shipping-calculations-title_span.open::before {
    transform: rotate(90deg);
}