.shipping-calculations-list {
    margin-bottom: 10px;
}

.shipping-calculations-title {
    font-weight: 700;
    font-size: 16px;
}

.shipping-calculations-list_li {
    margin-bottom: 5px;
}

.shipping-calculations-list-carrier {
    margin-bottom: 3px;

    font-weight: 500;
    font-size: 15px;
}

.shipping-calculations-list-method {
    margin: 1px 10px 3px 0;

    font-weight: 300;
    font-size: 13px;
}

.shipping-calculations-list-calculation {
    padding-top: 3px;
    font-size: 12px;
}

.shipping-calculations-list-date {
    margin-top: 1px;
    margin-left: 8px;

    font-size: 11px;
}

.shipping-calculations-title_span{
    padding: 11px;
}

.shipping-calculations-title_span::before {
    width: 10px;
    height: 10px;
    top: 13px;
}
