.shipping-calculations-list {
    margin: 0 0 10px 15px;
}

.shipping-calculations-list_li {
    margin-bottom: 10px;
}

.shipping-calculations-list_li_ul {
    margin-left: 10px;
}

.shipping-calculations-list-method {
    margin: 1px 5px 3px 0;

    font-weight: 500;
    font-size: 16px;
}

.shipping-calculations-list-calculation {
    font-style: italic;
    font-size: 15px;
}

.shipping-calculations-title_span{
    position: relative;
    padding: 15px;
}

.shipping-calculations-title_span::before {
    content: "";
    width: 15px;
    height: 15px;
    top: 18px;
    left: 0;
    position: absolute;

    background: url('../../../../../images/oggetto/geodetection/list-arrow.png');
    background-size: cover;
}

.shipping-calculations-title_span.open::before {
    transform: rotate(90deg);
}
