.shipping-calculations-list {
    margin: 0 0 10px 15px;
}

.shipping-calculations-title {
    font-weight: 700;
    font-size: 20px;
}

.shipping-calculations-list_li {
    margin-bottom: 10px;
}

.shipping-calculations-list_li_ul {
    margin-left: 10px;
}

.shipping-calculations-list-carrier {
    margin-bottom: 3px;

    font-weight: 500;
    font-size: 16px;
}

.shipping-calculations-list-method {
    margin: 1px 5px 3px 0;

    font-weight: 500;
    font-size: 15px;
}

.shipping-calculations-list-calculation {
    font-size: 15px;
}

.shipping-calculations-list-date {
    margin-left: 10px;

    font-size: 14px;
}

.shipping-calculations-title_span{
    padding: 15px;
}

.shipping-calculations-title_span::before {
    width: 15px;
    height: 15px;
    top: 18px;
}
